:root {
  --neutral-mostProminent-rgb: 59, 62, 64;
  --neutral-moreProminent-rgb: 80, 84, 88;
  --neutral-lessProminent-rgb: 111, 115, 119;
  --neutral-leastProminent-rgb: 139, 143, 148;
  --neutral-leastSubtle-rgb: 185, 190, 194;
  --neutral-lessSubtle-rgb: 209, 213, 216;
  --neutral-moreSubtle-rgb: 228, 231, 234;
  --neutral-mostSubtle-rgb: 244, 246, 248;
  --positive-mostProminent-rgb: 0, 73, 42;
  --positive-moreProminent-rgb: 0, 96, 55;
  --positive-lessProminent-rgb: 12, 130, 75;
  --positive-leastProminent-rgb: 27, 161, 97;
  --positive-leastSubtle-rgb: 113, 204, 152;
  --positive-lessSubtle-rgb: 160, 227, 188;
  --positive-moreSubtle-rgb: 195, 241, 214;
  --positive-mostSubtle-rgb: 231, 251, 240;
  --special-mostProminent-rgb: 93, 32, 119;
  --special-moreProminent-rgb: 117, 55, 144;
  --special-lessProminent-rgb: 148, 80, 173;
  --special-leastProminent-rgb: 177, 119, 195;
  --special-leastSubtle-rgb: 216, 175, 228;
  --special-lessSubtle-rgb: 232, 203, 240;
  --special-moreSubtle-rgb: 242, 225, 248;
  --special-mostSubtle-rgb: 249, 242, 251;
  --accent-mostProminent-rgb: 7, 64, 133;
  --accent-moreProminent-rgb: 15, 82, 162;
  --accent-lessProminent-rgb: 40, 116, 193;
  --accent-leastProminent-rgb: 61, 146, 223;
  --accent-leastSubtle-rgb: 129, 197, 244;
  --accent-lessSubtle-rgb: 174, 218, 248;
  --accent-moreSubtle-rgb: 210, 234, 250;
  --accent-mostSubtle-rgb: 239, 247, 253;
  --informative-mostProminent-rgb: 7, 64, 133;
  --informative-moreProminent-rgb: 15, 82, 162;
  --informative-lessProminent-rgb: 40, 116, 193;
  --informative-leastProminent-rgb: 61, 146, 223;
  --informative-leastSubtle-rgb: 129, 197, 244;
  --informative-lessSubtle-rgb: 174, 218, 248;
  --informative-moreSubtle-rgb: 210, 234, 250;
  --informative-mostSubtle-rgb: 239, 247, 253;
  --callout-mostProminent-rgb: 115, 33, 2;
  --callout-moreProminent-rgb: 152, 51, 2;
  --callout-lessProminent-rgb: 197, 78, 4;
  --callout-leastProminent-rgb: 235, 99, 2;
  --callout-leastSubtle-rgb: 255, 172, 2;
  --callout-lessSubtle-rgb: 254, 210, 65;
  --callout-moreSubtle-rgb: 255, 234, 157;
  --callout-mostSubtle-rgb: 254, 247, 213;
  --negative-mostProminent-rgb: 129, 0, 23;
  --negative-moreProminent-rgb: 169, 0, 31;
  --negative-lessProminent-rgb: 228, 0, 42;
  --negative-leastProminent-rgb: 255, 56, 66;
  --negative-leastSubtle-rgb: 255, 159, 159;
  --negative-lessSubtle-rgb: 255, 195, 195;
  --negative-moreSubtle-rgb: 255, 219, 219;
  --negative-mostSubtle-rgb: 254, 238, 238;
  --brand-mostProminent-rgb: 7, 64, 133;
  --brand-moreProminent-rgb: 15, 82, 162;
  --brand-lessProminent-rgb: 40, 116, 193;
  --brand-leastProminent-rgb: 61, 146, 223;
  --brand-leastSubtle-rgb: 129, 197, 244;
  --brand-lessSubtle-rgb: 174, 218, 248;
  --brand-moreSubtle-rgb: 210, 234, 250;
  --brand-mostSubtle-rgb: 239, 247, 253;
  --shadow-0: 0 0 0 0 rgba(29, 30, 31, 0.04), 0 0 0 0 rgba(29, 30, 31, 0.12), 0 0 0 0 rgba(29, 30, 31, 0.08);
  --shadow-2: 0 8px 12px 4px rgba(29, 30, 31, 0.04), 0 4px 4px -2px rgba(29, 30, 31, 0.12), 0 2px 12px 0 rgba(29, 30, 31, 0.08);
  --shadow-4: 0 16px 24px 8px rgba(29, 30, 31, 0.04), 0 8px 8px -4px rgba(29, 30, 31, 0.12), 0 4px 24px 0 rgba(29, 30, 31, 0.08);
  --shadow-6: 0 24px 36px 12px rgba(29, 30, 31, 0.04), 0 12px 12px -6px rgba(29, 30, 31, 0.12), 0 6px 36px 0 rgba(29, 30, 31, 0.08);
  --shadow-8: 0 32px 48px 16px rgba(29, 30, 31, 0.04), 0 16px 16px -8px rgba(29, 30, 31, 0.12), 0 8px 48px 0 rgba(29, 30, 31, 0.08);
  --shadow-12: 0 40px 60px 20px rgba(29, 30, 31, 0.04), 0 20px 20px -10px rgba(29, 30, 31, 0.12), 0 10px 60px 0 rgba(29, 30, 31, 0.08);
  --shadow-16: 0 48px 72px 24px rgba(29, 30, 31, 0.04), 0 24px 24px -12px rgba(29, 30, 31, 0.12), 0 12px 72px 0 rgba(29, 30, 31, 0.08);
  --shadow-24: 0 56px 84px 28px rgba(29, 30, 31, 0.04), 0 28px 28px -14px rgba(29, 30, 31, 0.12), 0 14px 84px 0 rgba(29, 30, 31, 0.08);
  --system-text-rgb: 0, 0, 0;
  --system-text-opacity: 1;
  --system-secondaryText-rgb: 0, 0, 0;
  --system-secondaryText-opacity: 0.72;
  --system-tertiaryText-rgb: 0, 0, 0;
  --system-tertiaryText-opacity: 0.48;
  --system-quaternaryText-rgb: 0, 0, 0;
  --system-quaternaryText-opacity: 0.24;
  --system-inverseText-rgb: 255, 255, 255;
  --system-inverseText-opacity: 1;
  --system-inverseSecondaryText-rgb: 255, 255, 255;
  --system-inverseSecondaryText-opacity: 0.72;
  --system-inverseTertiaryText-rgb: 255, 255, 255;
  --system-inverseTertiaryText-opacity: 0.48;
  --system-inverseQuaternaryText-rgb: 255, 255, 255;
  --system-inverseQuaternaryText-opacity: 0.24;
  --system-staticLightText-rgb: 255, 255, 255;
  --system-staticLightText-opacity: 1;
  --system-staticDarkText-rgb: 0, 0, 0;
  --system-staticDarkText-opacity: 1;
  --system-placeholderText-rgb: 0, 0, 0;
  --system-placeholderText-opacity: 0.64;
  --system-background-rgb: 255, 255, 255;
  --system-background-opacity: 1;
  --system-secondaryBackground-rgb: var(--neutral-mostSubtle-rgb);
  --system-secondaryBackground-opacity: 1;
  --system-tertiaryBackground-rgb: 255, 255, 255;
  --system-tertiaryBackground-opacity: 1;
  --system-quaternaryBackground-rgb: var(--neutral-mostSubtle-rgb);
  --system-quaternaryBackground-opacity: 1;
  --system-inverseBackground-rgb: 0, 0, 0;
  --system-inverseBackground-opacity: 1;
  --system-inverseSecondaryBackground-rgb: 29, 30, 31;
  --system-inverseSecondaryBackground-opacity: 1;
  --system-fill-rgb: var(--neutral-leastProminent-rgb);
  --system-fill-opacity: 0.4;
  --system-secondaryFill-rgb: var(--neutral-leastProminent-rgb);
  --system-secondaryFill-opacity: 0.32;
  --system-tertiaryFill-rgb: var(--neutral-leastProminent-rgb);
  --system-tertiaryFill-opacity: 0.24;
  --system-quaternaryFill-rgb: var(--neutral-leastProminent-rgb);
  --system-quaternaryFill-opacity: 0.16;
  --system-rule-rgb: var(--neutral-leastProminent-rgb);
  --system-rule-opacity: 0.4;
  --system-opaqueRule-rgb: var(--neutral-lessSubtle-rgb);
  --system-opaqueRule-opacity: 1;
  --system-inverseRule-rgb: 255, 255, 255;
  --system-inverseRule-opacity: 0.24;
}

.interactive {
  --moreSubtleInteraction-rgb: var(--lessSubtle-rgb);
  --moreProminentInteraction-rgb: var(--mostProminent-rgb);
  --lessProminentInteraction-rgb: var(--moreProminent-rgb);
}
